* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  /* banner */

#banner {
    background:linear-gradient(rgba(0, 0, 9, 0.3),rgb(23, 138, 138)),
                url("images/banner.jpg");
    background-position:center ;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 7%;
}

.banner-text {
    text-align: center;
    position: relative;
    top: 150px;
}

.banner-text h1 {
    font-size: 100px;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
    margin: 20px  auto 40px auto;
}

.banner-btn a {
    position: relative;
    width: 150px;
    color:#fff;
    border: 1px solid #fff;
    display:inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    z-index:1 ;
    transform: color 0.5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    transform: 0.5s;

}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover  {
    color: #000;
}

/* sidenav */

