* {
    margin: 0;
}

.menu {
    background-color: rgb(158, 184, 175);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    padding: 16px;
    margin-top: 40px;
    height: 150px;
    background-color: rgb(235, 161, 211);
}